* {
    box-sizing: border-box;
}

@font-face {
  font-family: minecraftFont;
  src: url('./MinecraftSeven.ttf');
}

body {
    margin: 0;
    max-width: 100%;
}

#world {
    display: grid;
    grid-template-columns: repeat(auto-fit, 3.03%);
}

.block {
    height: 40px;
    background-size: 60px 40px;
    image-rendering: pixelated;
}

.block:hover {
    border: 2px solid #ffffff;
}

.sky {
    background-color: #6ecbeb;
}
.grass {
    background-image: url('./Grass.PNG');
}

.dirt {
    background-image: url('./Dirt.PNG');
}

.gold {
    background-image: url('./gold_stone.png');
}

.red {
    background-image: url('./red_stone.png');
}

.blue {
    background-image: url('./blue_stone.png');
}

.black {
    background-image: url('./black_stone.png');
}

.gray {
    background-image: url('./gray_stone.png');
}

.trunk {
    background-image: url('./trunk.png');
}

.leaves {
    background-image: url('./leaves.png');
}

.tree-container {
    position: absolute;
    top: 80px;
    left: 200px;
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-column: 28 / 34;
}

footer {
    display: flex;
    background-color: #122020;
}

#message {
    background-color: #6b6b6b;
    color: #ffffff;
    border-radius: 5px;
    padding: 30px;
    font-family: minecraftFont;
    font-weight: 700;
}