* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: minecraftFont;
    src: url('./MinecraftSeven.ttf');
}

body {
    margin: 0;
    max-width: 100%;
}

#world {
    display: grid;
    grid-template-columns: repeat(auto-fit, 3.03%);
}

.block {
    height: 40px;
    background-size: 60px 40px;
    image-rendering: pixelated;
}

.block:hover {
    border: 2px solid #ffffff;
}

.sky {
    background-color: #6ecbeb;
}

.grass {
    background-image: url('./Grass.PNG');
}

.dirt {
    background-image: url('./Dirt.PNG');
}

.gold {
    background-image: url('./gold_stone.png');
}

.red {
    background-image: url('./red_stone.png');
}

.blue {
    background-image: url('./blue_stone.png');
}

.black {
    background-image: url('./black_stone.png');
}

.gray {
    background-image: url('./gray_stone.png');
}

.trunk {
    background-image: url('./trunk.png');
}

.leaves {
    background-image: url('./leaves.png');
}

footer {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    background-color: #122020;
}

#cache-area {
    width: 50%;
    background-color: #6b6b6b;
    color: #ffffff;
    border-radius: 5px;
    padding: 30px;
    font-family: minecraftFont;
    font-weight: 700;
    font-size: 15px;
}

.toggle-cache-area {
    display: none;
}

#game-tools-container {
    justify-self: center;
    align-self: center;
    display: flex;
    gap: 20px;
}

#game-tools-container img { 
    width: 5em;
    image-rendering: pixelated;
    border-radius: 5px;
    padding: 10px;
    background-color: #444444;
}

.cache-img:hover {
    transform: scale(1.2);
}

.cache-img {
    transition: transform 0.2s ease-in;
}

.game-tool:hover {
    border: solid 2px #ffffff;
}

#reset-btn {
    width: 30%;
    justify-self: end;
    background-color: #6b6b6b;
    color: #ffffff;
    border-radius: 5px;
    padding: 30px;
    font-family: minecraftFont;
    font-weight: 700;
    font-size: 15px;
}

.selected-tool {
    border: solid 2px #ffffff;
}

.axe-cursor {
    cursor: url('./items/gold_axe.png'), default;
}

.pickaxe-cursor {
    cursor: url('./items/gold_pickaxe.png'), default;
}

.shovel-cursor {
    cursor: url('./items/gold_shovel.png'), default;
}

.sword-cursor {
    cursor: url('./items/gold_sword.png'), default;
}